<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "nav.html" . -}}
   {{ partial "header.html" . }} 

    <div class="container mb-5">
        <div class="card card-postgrid">
            <div class="card-body">
              <div class="row justify-content-md-center donasi-isi align-items-center">
        <div class="col-12 col-sm-6 text-center text-md-right">
          <img src="/img/donasi.png" alt="" width="300px" />
          <p>
            Donasi untuk dakwah <br />
            Rp 1000 ? bisa dongg <br />
            tinggal Scan Dengan QRIS
          </p>
          <div class="d-block d-sm-none">
            Atau Melalui Rekening <b>BANK BSI</b> <br />
            <h1><b>7183996538</b></h1>
            <span>An.Corps Dakwah Mjd Syuhada</span>

            <br /><br />
            <span>Konfirmasi ke </span>
            <h3><b>085643301453</b></h3>
            <span>An. Izza Wildan Ridhoni</span>
          </div>
        </div>
        <div class="col-12 col-sm-6 d-none d-sm-block">
          Atau Melalui Rekening BANK BSI <br />
          <h1><b>7183996538</b></h1>
          <span>An.Corps Dakwah Mjd Syuhada</span>

          <br /><br />
          <span>Konfirmasi ke </span>
          <h3><b>085643301453</b></h3>
          <span>An. Izza Wildan Ridhoni</span>
        </div>
      </div>
            </div>
        </div>
    </div>    

 {{- partial "footer.html" . -}}
    {{- partial "js-init.html" . -}}
</html>

