<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "nav.html" . -}}
    <br>
<div class="container mb-5 mt-5 pt-5">
<div class="row mt-3">
    <div class="col-md-6">
       <img src="/img/3.JPG" alt="" width="100%">
    </div>
    
    <div class="col-md-6 ">
        <span>Tentang kami</span>
        <h3 class="mb-3">Corps Dakwah <br> Masjid Syuhada</h3>
        <p>
            Corps Dakwah Masjid Syuhada yang selanjutnya disingkat CDMS didirikan di Yogyakarta pada tanggal 10 Maret 1957 sampai dengan waktu yang tidak ditentukan. CDMS sebagai sebuah lembaga dakwah akan senantiyasa menghadapi tuntutan dan tantangan perkembangan zaman. Sehingga secara kelembagaan perlu dilakukan upaya untuk menata arah gerak dakwah agar berjalan secara serasi , selaras, seimbang, dan tetap berkesinambungan. untuk itu disusunlah tata kelembagaan sebagai  upaya menata kelembagaan CDMS. 
        </p>
        </div>

</div>
<div class="row mt-5">
 
    <div class="col-md-6">
        <h3 class="mb-3">Visi</h3>
        <p>
            Menjadi lembaga teladan dan professional dalam pembinaan, pemberdayaan, dan pelayanan umat dengan menjunjung tinggi nilai nilai islam dam setiap aktifitasnya
        </p>
        <h3 class="mb-3">Misi</h3>
        <ol>
            <li>Meningkatkan dan mengembagkan dakwah islamiyah untuk menumbuhkan masyarakat yang memiliki komitmen keislaman tinggi</li>
            <li>Menjadi masjid sebagai tempat dan pusat pembinaan umat</li>
            <li>Membagun kerjasama dengan berbagai lembaga dakwah dalam rangka untuk memperkokoh jaringan dakwah da persatuan umat</li>
            <li>Membagun kerjasama dengan berbagai instansi maupun perorangan untuk mengembagkan dakwah secara lebih massif dan produktif</li>
            <li>Membagun Opini keislaman di masyarakat sehingga yang beralur dan terarah</li>
            <li>Melakukan usaha usaha nandiri dalam rangka untuk menopang aktivitas lembaga</li>
        </ol>
        </div>
           <div class="col-md-6">
       <img src="/img/cdms.JPG" alt="" width="100%">
    </div>
    

</div>
</div>
 {{- partial "footer.html" . -}}
    {{- partial "js-init.html" . -}}
</html>
