<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "nav.html" . -}}
   <!-- {{ partial "header.html" . }}  -->
   <br> 
    <div class="box-struktur mb-5 mt-5 pt-5">
        <div class="container d-flex justify-content-center align-items-center">
          <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Ahrar.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Ahrar Salam Al- Farisi</h2>
                      <center><span>Pembina</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/default.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Irwan Mulia Suranto, S.Ag.,M.Ag</h2>
                      <center><span>Pembina</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Ujang.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Ujang Candra Irawan</h2>
                      <center><span>Direktur</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Farida.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Faridatul Hidayah</h2>
                      <center><span>Bendahara</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Anggri.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Anggriana Widya J</h2>
                      <center><span>Sekretaris</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Muksin.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Muksin K Gole</h2>
                      <center><span>Koor Kajian</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
         
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Eko.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Eko Nur Cahyo</h2>
                      <center><span>Anggota Div Kajian</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Binti.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Binti Nurul A</h2>
                      <center><span>Anggota Div Kajian</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Juwita.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Juwita</h2>
                      <center><span>Anggota Div Kajian</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Dada.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Dada Supriatna</h2>
                      <center><span>Anggota Div Kajian</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
            <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/default.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Alifian</h2>
                      <center><span>Anggota Div Kajian</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
            <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/default.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Maratus Sholihah</h2>
                      <center><span>Anggota Div Kajian</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Wahyu.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Wahyu Tri Santoso</h2>
                      <center><span>Koor Div Pelajar</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Faridho.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Fahridho Mally</h2>
                      <center><span>Anggota Div Pelajar</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/default.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Ciptia Wijaya I</h2>
                      <center><span>Anggota Div Pelajar</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/default.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Nursifa Maulidini R P</h2>
                      <center><span>Anggota Div Pelajar</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Wildan.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan Ridhoni</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Rafly.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Rafli Arsyad</h2>
                      <center><span>Anggota Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/Anggit.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Anggit Muliana </h2>
                      <center><span>Anggota Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
            <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/default.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Dhia</h2>
                      <center><span>Anggota Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
    </div>
    </div>
 {{- partial "footer.html" . -}}
    {{- partial "js-init.html" . -}}
</html>
