<!-- <div class="card card-postgrid">
  <div class="card-body">
    <h4>Artikel Terbaru</h4>
    <hr />
    <a href="">
      <div class="row mb-3 text-dark">
        <div class="col-sm-4">
          <img src="/img/bg-jumbotron.jpg" alt="" width="100%" />
        </div>
        <div class="col-sm-8">Lorem ipsum dolor, sit amet consectetur</div>
      </div>
    </a>
    <a href="">
      <div class="row mb-3 text-dark">
        <div class="col-sm-4">
          <img src="/img/bg-jumbotron.jpg" alt="" width="100%" />
        </div>
        <div class="col-sm-8">Lorem ipsum dolor, sit amet consectetur</div>
      </div>
    </a>
    <a href="">
      <div class="row mb-3 text-dark">
        <div class="col-sm-4">
          <img src="/img/bg-jumbotron.jpg" alt="" width="100%" />
        </div>
        <div class="col-sm-8">Lorem ipsum dolor, sit amet consectetur</div>
      </div>
    </a>
  </div>
</div> -->
<div class="card card-postgrid">
  <div class="card-body">
    <h4>Informasi</h4>
    <hr />
    <iframe id="iframe" title="prayerWidget" class="widget-m-top" style="width: 100%; height: 358px; border: 1px solid #ddd" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/43695204/shafi/11/0/20/18"> </iframe>
    <div style="height: 10px"></div>
    <iframe id="h2gFrame" title="islamic-calendar" style="width: 100%; height: 312px; border: 1px solid #ddd" scrolling="no" src="https://www.islamicfinder.org/islamic-calendar/widgetGregorian?type=Hijri"> </iframe>
  </div>
</div>
<div class="card mt-3 card-postgrid">
  <div class="card-body">
    <h4>Follow Us</h4>
    <hr />
    <iframe
      width="100%"
      height="200px"
      src="https://www.youtube.com/embed/videoseries?list=PLOh36NrkzyX83kwEULqonDP7gPa91Wsu1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <div class="mt-2"></div>
    <iframe
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/show/6o1d4CVZXBfDI7zqWXPrjb?utm_source=generator&theme=0"
      width="100%"
      height="300"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </div>
</div>
