<div class="footer text-white p-5 footermasjid">
  <!-- <img src="/img/masjid.svg" alt="" class="imgmasjid" /> -->
  <!-- <img src="/img/masjid2.svg" alt="" class="imgmasjid2" /> -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <h3 class="f-philo">
          Panitia Ramadhan <br />
          Masjid Syuhada
        </h3>
        <p>Merajut Ukhuwah Meraih berkah</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 footer-info">
        <h5>Informasi</h5>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Jl. I Dewa Nyoman Oka No.13, Kotabaru, Kec. Gondokusuman, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55224</li>
          <li><i class="far fa-envelope"></i> ramadhan.disyuhada@gmail.com</li>
          <li><i class="fab fa-whatsapp"></i> 085643301453</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4 footer-sosmed mt-3 mt-sm-0">
        <h5>Social Media</h5>
        <ul>
          <a href="https://www.instagram.com/cdmssyuhada/"
            ><li><i class="fab fa-instagram"></i></li
          ></a>
          <a href="https://www.facebook.com/cdmssyuhada-108338308396642"
            ><li><i class="fab fa-facebook"></i></li
          ></a>
          <a href="https://twitter.com/cdmssyuhada"
            ><li><i class="fab fa-twitter"></i></li
          ></a>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="p-3 text-white text-center" style="background-color: black">
  &copy; {{ now.Format "2006"}} <a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a> | Template by <a href="https://www.izzawildan.my.id" target="blank">izza wildan</a>
</div>
